body {
	width: 400px;
	background-color: #69D2E7;
	max-height: 400px;
	overflow-y: auto;
}

#loading {
	width: 100px;
	margin: 25px;
	opacity: .8;
}

#results {
	text-align: center;
}
.result {
	text-align: left;
	background-color: rgb(255,255,255);
	border: 1px solid #ccc;
	margin: 10px;
	padding: 5px 5px 5px 5px;
	border-radius: 3px;
}
.result .media-img {
	display: none;
}
.result * {
	font-family: sans-serif;
	font-size: 14px;
}
.result h3 {
	margin: 0;
}
.result .large-2.small-12.columns.text-right {
	text-align: right;
}
.result .radius.secondarylabel.ctyJournal {
	color: #bbb;
	font-style: italic;
}
.result h3 a, .result .title a {
	text-decoration: none;
	color: #FA6900;
	font-family: helvetica;
	font-size: 16px;
	font-weight: bold;
}
span.gs_ct1, span.gs_ct2 {
	color: #bbb;
}
#selectbar {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.select {
	font-size: 20px;
	font-family: helvetica;
	padding: 10px 15px;
	background: #69D2E7;
	color: #FFF;
	opacity: 1;
	margin: 5px;
	display: inline-block;
	border-radius: 10px;
}

.select:hover{
	opacity: .8;	
	background-color: #fff;
	color: #69D2E7;
	cursor: pointer;	
}

.select.selected {
	background-color: #fff;
	color: #69D2E7;
}